extends layout

block content
  div.uk-width-1-1.uk-height-1-1.uk-vertical-align.uk-text-center
    div.b-login.uk-container-center.uk-vertical-align-middle
      img.uk-display-block.uk-align-center(src="/img/logo.png")
      a.uk-button.uk-display-block.uk-margin-bottom.uk-margin-top(href="/login") Существующий аккаунт в системе RedHelper
      a.uk-button.uk-display-block(href="/registration") Создать новый аккаунт в RedHelper
  div.b-support
    p.uk-text-bold Отдел технической поддержки клиентов RedHelper
    p.uk-margin-left +7 (495) 221-77-57, доб. 201<br />
      a(href="mailto:info@redhelper.ru") Info@redhelper.ru<br />
      | Чат онлайн на сайте: 
      a(href="http://redhelper.ru", target="_blank") http://redhelper.ru