extends layout

block content
  div.uk-width-1-1.uk-height-1-1.uk-vertical-align.uk-text-center
    div.b-login.uk-container-center.uk-vertical-align-middle
      img.uk-display-block.uk-align-center(src="/img/logo.png")
      a.uk-button.uk-display-block.uk-margin-bottom.uk-margin-top(href="/login") Существующий аккаунт в системе RedHelper
      a.uk-button.uk-display-block(href="/registration") Создать новый аккаунт в RedHelper